// Visually hidden

@import "./utils/_visually-hidden";

// Base

@import "./utils/_variables";
@import "./base/_common";
@import "./base/_container";
@import "./base/_section";

// Logo

@import "./components/_logo";

// Headings

@import "./components/_headings";

// Header

@import "./layout/_header";

// Navigation

@import "./layout/_navigation";

// Hero

@import "./layout/_hero";

// Main page

@import "./components/_image-list";
@import "./components/_icon-list";
@import "./components/_team";
@import "./components/_client-list";

// Social

@import "./components/_social-icons";

// Modal

@import "./components/_modal-btn";
@import "./components/_modal";
@import "./components/_modal-form";
@import "./components/modal-form-icons";

// Footer

@import "./layout/_footer";
@import "./components/_footer-form";

// Portfolio page

@import "./components/_portfolio";
@import "./components/_button-list";

// Hamburger menu

@import "./components/_hamburger.scss";
