// Portfolio button list

.button-list {
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
  padding-top: 94px;
}

.button-list__item {
  background-color: var(--grey);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  border-style: none;
  font-family: inherit;
  cursor: pointer;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;

  &:not(last-child) {
    margin-right: 8px;
  }

  &:focus,
  &:hover {
    background-color: var(--blue);
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

