// Headings 

// Mobile styles

// Every section heading

.section-heading {
    text-align: center;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
}

// Team section heading

.section-heading--team {
    padding-top: 94px;
}

// Other headings

.footer__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    display: block;
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 20px;
}


.modal-form__heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-black);
    margin-top: 40px;
    margin-bottom: 30px;
}

// Desktop styles 

@media screen and (min-width: 1200px) {

// Every section heading

.section-heading {
    text-align: center;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
}

// Team section heading

.section-heading--team {
    padding-top: 94px;
}

// Other headings

.footer__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding-top: 72px;
    margin-bottom: 20px;
    padding-left: 10px;
    text-align: start;

        &--join-us {
   margin-left: 5px;
    }

    &--sign-up {
        margin-left: 132px;
    }
}

.modal-form__heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-black);
    margin-top: 40px;
    margin-bottom: 30px;
} }