@media screen and (max-width: 767px) {
.icon-list-rectangle {
  width: 450px;
height: 120px;
    border-radius: 4px;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.icon-list-rectangle__icon {
    width: 70px;
    height: 70px;
}

.icon-list {
    display: flex;
    padding: 0;
    padding-top: 94px;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column;
      line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-grey);

}

.icon-list__heading {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {
    .icon-list-rectangle {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.icon-list-rectangle__icon {
    width: 70px;
    height: 70px;
}

.icon-list {
    display: flex;
    padding: 0;
    padding-top: 94px;
    justify-content: center;
    margin-bottom: 30px;
}
}

