// Icons used in the fill-in form in modal window

.modal-form__icon {
    width: 12px;
    height: 12px;
    fill: #000;
    position: absolute;
    left: 52px;
}

.modal-form__icon--avatar {
    width: 12px;
    height: 12px;
    top: 132px;
}

.modal-form__icon--phone {
    height: 13px;
    width: 13px;
    top: 200px;
}

.modal-form__icon--envelope {
    width: 15px;
    height: 12px;
    top: 268px;
}