// Icons used in the fill-in form in modal window

.modal-form__icon {
    width: 12px;
    height: 12px;
    fill: #000;
    position: absolute;
   top: 50%;
   left: 60px;
}

.modal-form__icon--avatar {
    width: 12px;
    height: 12px;

}

.modal-form__icon--phone {
    height: 13px;
    width: 13px;

}

.modal-form__icon--envelope {
    width: 15px;
    height: 12px;

}