// Portfolio

// Mobile styles 

.portfolio {
  display: flex;
  flex-wrap: wrap;
  padding-top: 56px;
  flex-direction: column;
  align-items: center;
}

.portfolio__heading {
  color: var(--text-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.portfolio__text {
  color: var(--text-grey);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  z-index: 1002;
  position: relative;
  background-color: #fff;
}

.portfolio__item {
  background-color: #fff;
  border: 1px solid #eee;
  margin-bottom: 30px;
  position: relative;
  max-width: 370px;
  max-height: 404px;
  overflow: hidden;
  z-index: 1001;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

.portfolio__item:hover .portfolio-overlay {
  transform: translatey(0);
}

.portfolio__paragraph {
  padding: 4px 24px 20px 24px;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  opacity: 90%;
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.portfolio-overlay__paragraph {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 49px;
  padding-left: 15px;
}


// Desktop styles 

@media screen and (min-width: 1200px) {
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 56px;
  flex-direction: row;
}

.portfolio__heading {
  color: var(--text-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.portfolio__text {
  color: var(--text-grey);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  z-index: 1002;
  position: relative;
  background-color: #fff;
}

.portfolio__item {
  background-color: #fff;
  border: 1px solid #eee;
  margin-bottom: 30px;
  position: relative;
  max-width: 370px;
  max-height: 404px;
  overflow: hidden;
  z-index: 1001;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

.portfolio__item:hover .portfolio-overlay {
  transform: translatey(0);
}

.portfolio__paragraph {
  padding: 4px 24px 20px 24px;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  opacity: 90%;
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.portfolio-overlay__paragraph {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 49px;
  padding-left: 15px;
} }
