body {
    color: var(--text-black);
    font-family: "Roboto", "sans-serif";
}

ul,
ol {
    list-style-type: none;
}

h2 {
    text-align: center;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
}

@media screen and (min-width: 1200px) {
    h2 {
    text-align: center;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
}
}

img {
    display: block;
}

* {
    margin: 0px;
    padding: 0px;
}

:hover,
:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a {
    text-decoration: none;
    cursor: pointer;
}