// Mobile styles

// Main container

.container {
    max-width: 100%;
    align-items: center;
}

// Header container

.header-container {
    display: flex;
    align-items: center;
    max-width: 480px;
        min-height: 47px;
    justify-content: space-around;
      margin: 0 auto;
}

// Footer containers

.container--footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-footer {
    max-width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
}

// Footer social & fill-in form containers 

.footer-social,
.footer__form {
    display: flex;
    align-items: center;
}

.footer-social {
    margin-bottom: 60px;
}

.container--footer-social,
.container--footer-form {
    display: flex;
    flex-wrap: wrap;
        margin-bottom: 60px;
        justify-content: center;
        
} 

// Tablet styles

@media screen and (min-width: 768px) and (max-width: 1199px) {
    // Main container

.container {
    max-width: 100%;
    align-items: center;
}

// Header container

.header-container {
    display: flex;
    align-items: center;
    max-width: 768px;
        min-height: 80px;
    justify-content: space-around;
    margin: 0 auto;
}

// Footer containers

.container--footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-footer {
    max-width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

// Footer social & fill-in form containers 

.footer-social,
.footer__form {
    display: flex;
    align-items: center;
}

.footer-social {
    margin-bottom: 60px;
}

.container--footer-social,
.container--footer-form {
    display: flex;
    flex-wrap: wrap;
        margin-bottom: 60px;
        text-align: center;
} 
}


//Desktop styles

@media screen and (min-width: 1200px) {

// Main container

.container {
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
}

// Header container

.header-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 75px;
}

// Footer containers

.container--footer {
    display: flex;
    align-items: start;
    flex-direction: row;
}

.container-footer {
    min-width: 280px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: start;
}

// Footer social & fill-in form containers 

.footer-social,
.footer__form {
    display: flex;
    align-items: center;
}

.footer-social {
    margin-bottom: 0;
}

.container--footer-social,
.container--footer-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
} }