
    @media screen and (max-width: 1199px) {
    
    .our-services {
        display: none;
    } 

  .menu, .menu-2 {
   display: none } }


@media screen and (min-width: 1200px) {
    .mobile-navigation {
        display: none;
    }

      .our-services {
        display: block;
    }

  .menu, .menu-2 {
   display: flex;  }
}